html{
  scroll-behavior: smooth;
}
body{
  font-family: "Neutraface 2 Text Light", sans-serif;
  color: #FFF;
  margin: 0;
  background-image: linear-gradient(#050C1F,#292F3F,#2B3141,#333848, #585C69);
  overflow-x: hidden;
}
/* HEADER */
#header{
  margin: 0;
  height: 42vh;
}
nav{
  display:flex;
  justify-content: space-around;
}
.headerTop{
  height: 60px;
  margin-top:250px;
}
ul{
  margin-left:35px;
  list-style-type: none;
}
li.top_menu{
  display: inline;
  padding: 0px 30px 0px 15px;
  margin-top:15px;
}
li.top_menu:nth-last-of-type(2), li.top_menu:nth-last-of-type(3){
  border-right:1px solid white;
}
li.top_menu:hover{

}
li.top_menu a{
  color:white;
  text-decoration: none;
}
input[type="text"].input_top{
  width:347px;
  height:50px;
  border: 1px solid #0072B9;
  border-radius:25px;
  background-color:#FFF;
  margin-top: 15px;
}
.main_title{
  width:100vw;
  margin: 0 auto;
  text-align: center;
}

/* MAIN */
main{
  height:500vh;
  background-image:url(../images/bigBrosse.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size:60%;
}
.brush_sumup{
  width:350px;
  padding: 650px 0px 0px 100px;
}
.brush_sumup h2{
  border-bottom:1px solid white;
  padding-right:575px;
}
.modif_head{
  width:350px;
  margin: 0px 0px 0px 1100px;
}
.modif_head h2{

  border-bottom:1px solid white;
}
/**pour allonger les border, mettre une div entre chaque paragraphes et lui mettre un border et la placer où on veut*/
.sevenmods{
  width:350px;
  padding:725px 0px 0px 50px;
}
.AI{
  width:350px;
  padding: 30px 0px 0px 1100px;
}
.bluetooth{
  width:350px;
  padding:175px 0px 0px 70px;
}
.quickreload{
  width:350px;
  padding: 640px 0px 0px 70px;
}
/****FORM****/
.btn_div{
  width:500px;
  margin: 0 auto;
  text-align: center;
}
button.btn_form{
  background-color: inherit;
  color:#FFF;
  width:270px;
  height:56px;
  margin: 0 auto;
  border: 1px solid #FEFEFE;
  border-radius: 33px;
  margin-bottom: 25px;
  font-size: 30px;
}
button:hover{
  cursor: pointer;
}
.div_form{
  width: 60vw;
  height:10vh;
  display: flex;
  margin:0 auto;
  text-align: center;
  color:#707070;
}
select{
  font-size: 12.5px;
  height:23px;
}
input[type="text"],input[type="email"],select{
  border:none;
  width:260px;
  height:56px;
  margin: 0px 50px 50px 50px;
  border-radius: 11px;
  border: 1px solid white;
  background-color: inherit;
  color:#807F7F;
}
::placeholder{
  color:#807f7f;
}
input[type='submit']{
  border-radius: 15px;
  background-color:inherit;
  border:none;
  color:#FFF;
  font-size:20px;
  border-radius:30px;
  background-color: #313646;
  border:none;
  width:260px;
  height:56px;
  margin: 0px 50px 50px 50px;
}
input[type="submit"]:hover{
  cursor:pointer;
}
.footer{
  margin-top: -20px;
  height:20vh;
  width:100vw;
  display: flex;
  color: white;
  background-color: #030511;
  border-top: 1px solid #807F7F;
  justify-content: space-around;
}

.footer_1{
  width: 260px;
}

.footer_1_title{
  color: #807F7F;
  padding-top: 3px;
  padding-bottom: 1px;
  font-weight: bold;
}

.footer_1_text{
  color: #807F7F;
  font-weight: lighter;
}

.footer_2{
  width: 260px;
  margin-left: -600px;
  margin-right: -600px;
}

.footer_2_title{
  color: #807F7F;
  padding-top: 3px;
  padding-bottom: 1px;
  font-weight: bold;
}

.footer_2_text{
  color: #807F7F;
  font-weight: lighter;
}

.footer_3{
  width: 260px;
}

.footer_3_title{
  color: #807F7F;
  padding-top: 3px;
  padding-bottom: 1px;
  font-weight: bold;
}

.footer_3_text{
  color: #807F7F;
  font-weight: lighter;
}
/****ARROW***/
.arrow-container {
  display: block;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%) rotateZ(0deg);
}
.arrow-container:hover {
  cursor: pointer;
}
.arrow-container:hover .arrow {
  top: 50%;
}
.arrow-container:hover .arrow:before {
  transform: translate(-50%, -50%) rotateZ(-30deg);
}
.arrow-container:hover .arrow:after {
  transform: translate(-50%, -50%) rotateZ(30deg);
}

.arrow {
  position: absolute;
  left: 50%;
  transition: all 0.4s ease;
}
.arrow:before, .arrow:after {
  transition: all 0.4s ease;
  content: "";
  display: block;
  position: absolute;
  transform-origin: bottom right;
  background: #fff;
  width: 4px;
  height: 50px;
  border-radius: 10px;
  transform: translate(-50%, -50%) rotateZ(-45deg);
}
.arrow:after {
  transform-origin: bottom left;
  transform: translate(-50%, -50%) rotateZ(45deg);
}
.arrow:nth-child(1) {
  opacity: 0.3;
  top: 35%;
}
.arrow:nth-child(2) {
  opacity: 0.6;
  top: 55%;
}
.arrow:nth-child(3) {
  opacity: 0.9;
  top: 75%;
}
